nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2000;
    position: fixed;
    right: 40%;
    transform: translateY(-150%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}


/* ===================  MEDIA QUEIES (MEDIUM DEVICES)   ======================== */
@media screen and (max-width: 1024px) {
    nav{
        right: 30%;
        bottom: -5%;
    }
}


/* ===================  MEDIA QUEIES (SMALL DEVICES)   ======================== */
@media screen and (max-width: 600px) {
    nav{
        left: 10%;
        bottom: -10%;
    }
}

@media screen and (max-width: 400px) {
    nav{
        left: 5%;
        bottom: -10%;
    }
}